
body{
    font-size: 16pt;
    font-family: 'Arial', sans-serif;
    background-image: url("andrea-de-santis-zwd435-ewb4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 130%;
    background-attachment:inherit;
    color: white;
    
}
#headshot{
    float: left;
    border-image: 0px;
    margin-top: 15%;
    height: 8cm;
    width:2;
    padding:0%;
    border-width: 0ch;
    margin: 0%;
    position: relative;
}
#about_me{
    margin-top:0%;
    margin-left: 0%;
    
}
#name{
    margin-left:0;
    border: 0cm;
    margin-bottom: 0;
    font-style: italic;
    font-size: 9pt;
}
title{
    margin-left: 10%;
}
h1{
    text-align: center;
    font-style: italic;
}
p{
    text-indent: 2cm;
    line-height: 2;
}
.Benny{
    width:95%;
    height: 65%;
}
#second{
    margin-top: 0%;
}
table{
    align-self: center;
    text-align: center;
    align: center;
    margin-left: 30%;
    padding: 0%;
}
#even{
    background-color: black;
}
#odd{
    background-color: aliceblue;
    color: black;
}
pre{
    font-family: 'Arial';
    font-style: italic;
    font-size: 16pt;
    text-align: right;
}
a:hover{
    color: red;
}
a:visited{
    color: darkblue;
}
span{
    font-weight: bold;
    color:red
}